#list{
    text-decoration: none;
    text-align: left;
    width: 80%;
}

#list li em{
    display: none;
    padding-left: 0.6%;
    height: 4%;
    line-height: 4%;
}

.menus-div-index{
    position: absolute;
    padding-top: 10px;
    float: left;
    overflow: hidden;
    top: 23%;
    display: block;
    height: 100%;
    left: 36%;
}
.menus-div-index img{
    padding: 0px !important;
    height: 25% !important;
}
.menus-div-urbanism{
    padding-top: 11%;
}
.menus-div-office{
    padding-top: 22%;
}
.menus-div-index li  em{
    font-size: 2em;
    color: #FFFFFF;
}

.menus-div-posts{
    padding-top: 10px;
    float: left;
    overflow: hidden;
}

.menus-div-posts li img {
    padding: 5px 0;
    height: 4%;
    line-height: 4%;
    vertical-align: middle;
}
.menus-div-posts li  em{
    font-size: 2.3em;
    vertical-align: middle;
    font-weight: bolder;
}
.foot-more{
    text-align: center;
    padding: 1%;
    font-size: 2em;
    display: block;
    cursor:pointer;
}